# Car insurance business case

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('file1.csv')
df2 = pd.read_csv('file2.csv')
df3 = pd.read_csv('file3.csv')

In [3]:
# Data frames shape

df1.shape

(4008, 11)

In [4]:
df2.shape

(996, 11)

In [5]:
df3.shape

(7070, 11)

In [6]:
# Check the column names that the different df have and homogenize

df1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [7]:
df2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [8]:
df3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [9]:
df1.rename(columns={'ST': 'state'}, inplace=True)
df2.rename(columns={'ST': 'state'}, inplace=True)

In [10]:
# checking the change

df2.columns

Index(['Customer', 'state', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [11]:
df1.columns = map(str.lower, df1.columns)
df2.columns = map(str.lower, df2.columns)
df3.columns = map(str.lower, df3.columns)

In [12]:
# checking the change

In [13]:
# Concat the 3 data frames

df_all=pd.concat([df1, df2, df3], axis=0, ignore_index=True)

In [14]:
df_all

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [15]:
# Check that the data frames were well merged with the sum of the rows of each of the df

df1.shape

(4008, 11)

In [16]:
df2.shape

(996, 11)

In [17]:
df3.shape

(7070, 11)

In [18]:
# Reorder two columns just to learn how to do it

df_all.columns

Index(['customer', 'state', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [19]:
column_names = ['customer', 'gender', 'state', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount']

In [20]:
df_all = df_all.reindex(columns=column_names)

In [21]:
df_all.columns

Index(['customer', 'gender', 'state', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [22]:
# Check data types to see if numerical and categorical columns have the proper data type
# Numerical: CLV, Income, MPA, NOOC, TCA
# Categorical: customer, state, gender, education, policy type, vehicle class

df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   gender                     9015 non-null   object
 2   state                      9137 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

In [23]:
# Delete the column education and the number of open complaints from the dataframe

df_all.drop(['education', 'number of open complaints'], axis=1, inplace=True)

In [24]:
df_all.columns

Index(['customer', 'gender', 'state', 'customer lifetime value', 'income',
       'monthly premium auto', 'policy type', 'vehicle class',
       'total claim amount'],
      dtype='object')

In [26]:
# Correct the values in the column CLV. They are given as a percent, so multiply them by 100 and change dtype to numerical type.
# Why this is not working? df_all['customer lifetime value'] = df_all['customer lifetime value'].astype(dtype = 'float', errors = 'ignore')

df_all['customer lifetime value'] = pd.to_numeric(df_all['customer lifetime value'], errors = 'coerce')
df_all['customer lifetime value'] = df_all['customer lifetime value']*100

In [27]:
# Check that values were multiplied

df_all

,customer,gender,state,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,NaN,Washington,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,F,Arizona,NaN,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,F,Nevada,NaN,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,M,California,NaN,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,M,Washington,NaN,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
12069,LA72316,M,California,2.340599e+06,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,F,California,3.096511e+05,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,M,California,8.163890e+05,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,M,California,7.524442e+05,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,M,California,2.611837e+05,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [28]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 9137 non-null   object
 1   gender                   9015 non-null   object
 2   state                    9137 non-null   object
 3   customer lifetime value  7070 non-null   float64
 4   income                   9137 non-null   float64
 5   monthly premium auto     9137 non-null   float64
 6   policy type              9137 non-null   object
 7   vehicle class            9137 non-null   object
 8   total claim amount       9137 non-null   float64
dtypes: float64(4), object(5)
memory usage: 849.1+ KB

In [29]:
# how to fix the % sign:
# if there is a % sign
# then *100
# turn into a float
# strip & sign

In [30]:
# Eliminate nans (because if we don't know the customer we don't know if the data is real or not)

df_all = df_all.dropna(subset=['customer'])

In [31]:
# Detect full duplicates (complete rows that are duplicate)

df_all.duplicated().sum()

3

In [32]:
df_all.shape

(9137, 9)

In [33]:
# Remove duplicates

df_all.drop_duplicates(subset=None, keep='first', inplace=False)

,customer,gender,state,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
0,RB50392,NaN,Washington,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,F,Arizona,NaN,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,F,Nevada,NaN,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,M,California,NaN,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,M,Washington,NaN,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
12069,LA72316,M,California,2.340599e+06,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,F,California,3.096511e+05,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,M,California,8.163890e+05,0.0,85.0,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,M,California,7.524442e+05,21941.0,96.0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,M,California,2.611837e+05,0.0,77.0,Corporate Auto,Two-Door Car,369.600000

In [34]:
# Filter out the data for customers who have an income of 0 or less.

newdf_all = df_all.query('income > 0')
newdf_all

,customer,gender,state,customer lifetime value,income,monthly premium auto,policy type,vehicle class,total claim amount
2,AI49188,F,Nevada,NaN,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
4,GA49547,M,Washington,NaN,36357.0,68.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,F,Oregon,NaN,62902.0,69.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,F,Oregon,NaN,55350.0,67.0,Corporate Auto,Four-Door Car,321.600000
8,DY87989,M,Oregon,NaN,14072.0,71.0,Corporate Auto,Four-Door Car,511.200000
...,...,...,...,...,...,...,...,...,...
12067,TF56202,M,California,5.032165e+05,66367.0,64.0,Personal Auto,Two-Door Car,307.200000
12068,YM19146,F,California,4.100399e+05,47761.0,104.0,Personal Auto,Four-Door Car,541.282007
12069,LA72316,M,California,2.340599e+06,71941.0,73.0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,F,California,3.096511e+05,21604.0,79.0,Corporate Auto,Four-Door Car,379.200000
12072,UP19263,M,California,7.524442e+05,21941.0,96.0,Personal Auto,Four-Door Car,691.200000