# 1 Strokes data - bring in and explore

In [1]:
ls

Case study Health.ipynb  file1.csv                file3.xlsx
Strokes_initial.ipynb    file1.xlsx               file4.xlsx
about.txt                file2.xlsx               strokes_data.csv

In [2]:
import pandas as pd

In [3]:
strokes=pd.read_csv('strokes_data.csv')
# define data frame and read the csv file

In [4]:
strokes

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [ ]:
# whats in the data - how many nulls are there?

In [5]:
strokes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [6]:
strokes.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,43400.000000,43400.000000,43400.000000,43400.000000,43400.000000,41938.000000,43400.000000
mean,36326.142350,42.217894,0.093571,0.047512,104.482750,28.605038,0.018041
std,21072.134879,22.519649,0.291235,0.212733,43.111751,7.770020,0.133103
min,1.000000,0.080000,0.000000,0.000000,55.000000,10.100000,0.000000
25%,18038.500000,24.000000,0.000000,0.000000,77.540000,23.200000,0.000000
50%,36351.500000,44.000000,0.000000,0.000000,91.580000,27.700000,0.000000
75%,54514.250000,60.000000,0.000000,0.000000,112.070000,32.900000,0.000000
max,72943.000000,82.000000,1.000000,1.000000,291.050000,97.600000,1.000000

In [7]:
strokes['gender'].value_counts()

Female    25665
Male      17724
Other        11
Name: gender, dtype: int64

In [9]:
strokes['ever_married'].unique()

array(['No', 'Yes'], dtype=object)

In [17]:
#identify duplicates (duplicates will be identified as True)
strokes.duplicated(keep=False)

0        False
1        False
2        False
3        False
4        False
         ...
43395    False
43396    False
43397    False
43398    False
43399    False
Length: 43400, dtype: bool

In [18]:
# count the number of duplicates
print(strokes.duplicated().sum())

0

In [19]:
print(strokes.duplicated().value_counts())

False    43400
dtype: int64

In [20]:
print(strokes.duplicated(subset='id'))

0        False
1        False
2        False
3        False
4        False
         ...
43395    False
43396    False
43397    False
43398    False
43399    False
Length: 43400, dtype: bool

In [25]:
print(strokes.duplicated(subset='gender').value_counts())

True     43397
False        3
dtype: int64

# 1.1 Changing data types

In [27]:
# Change data type of id column
strokes['id'] = strokes['id'].astype('str')

In [31]:
# Change data type of strokes column
strokes['stroke'] = strokes['stroke'].astype('bool')

In [32]:
strokes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  object
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  bool
dtypes: bool(1), float64(3), int64(2), object(6)
memory usage: 3.7+ MB

In [34]:
# Change the ever_married column to a boolean data type

No: False
Yes: True
strokes['ever_married'] = strokes['ever_married'].replace({'No':False, 'Yes':True})

Split of the data frame (df) in 3 data frames

- df1= rows 1-1000 (0:1000) exclusive on top and inclusive on the bottom end of range
- df2= rows 1001-3500 (1000:3500)
- df3= the rest (3500:)

In [ ]:
strokes.head(2) #index always begins at 0!

In [37]:
# iloc: index location
df1 = strokes.iloc[:1000]  #df1=strokes[:1000] also works 
df2 = strokes.iloc[1000:3500]
df3 = strokes.iloc[3500:]

In [39]:
#reset the index of each of the data frames as if they were independent
df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)
df3.reset_index(drop=True, inplace=True)

In [42]:
# Now let's concat 2 or more data frames

In [43]:
df_all=pd.concat([df1, df2, df3], axis=0)

In [44]:
df_all.shape

(43400, 12)

In [45]:
df_all.info() # we see that the maximum index is not the real one (39899<43400). It is taking the max index of df3, we have to reset index again.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43400 entries, 0 to 39899
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  object
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  bool
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  bool
dtypes: bool(2), float64(3), int64(2), object(5)
memory usage: 3.7+ MB

In [46]:
df_all.reset_index(drop=True, inplace=True)

In [47]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  object
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  bool
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  bool
dtypes: bool(2), float64(3), int64(2), object(5)
memory usage: 3.4+ MB